Source: conf-sys
Section: admin
Priority: optional
Maintainer: Roman Mingazeev <direnol@yandex.ru>
Build-Depends: debhelper (>= 10), bash-completion
Standards-Version: 4.1.2
Homepage: https://github.com/Direnol/Deb-config.git
Vcs-Git: https://github.com/Direnol/Deb-config.git

Package: conf-sys
Architecture: all
Replaces: vagrant
Depends: ${shlibs:Depends},
         ${misc:Depends},
         bash-completion,
         build-essential,
         clang,
         cmake,
         curl,
         devscripts,
         docker.io,
         emacs,
         git (>= 1:2.17.1),
         indent,
         mc,
         neovim,
         net-tools,
         network-manager-openvpn,
         ninja-build,
         openvpn,
         python-pip,
         python3-pip,
         sshfs,
         tilix,
         wireshark,
         xserver-xorg-input-synaptics
Description: Configure my system
 Configure packages
